<br/>
<br/>
<hr/>
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <div id="footer" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" id="centro">
        <img src="resource/UPN_logo.jpg" alt="" />
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <h4>Universodad Pedagogica Nacional</h4>
        <h4>Jhon Alexander Gallo Ramirez</h4>
        <h4>Dqu_jagallor802@pedagogica.edu.co</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <img src="resource/Didagokhemia.jpg" alt="" />
      </div>
    </div>
    </div>
  </div>
</div>
</div>
