#blackscreen{
  background: rgba(0, 0, 0,0.75);;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 300;
}
#movieCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
#moviecloseMain{
  margin: 0;
  position: relative;
}
#imgMain{
  height: 64px;
  width: 64px;
  position: absolute;
  z-index: 305;
  margin: 0;
  top: 0;
  right: 0;
  cursor: pointer;
}
p{
  font-size: 20px;
}
