<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
  <div class="container documentos_pdf">
    <div class="row">
    <div class="col-xs6 col-sm6 col-lg4">
      <div>
      <img src="resource/file.ico" alt="" style="height: 64px;width: 64px"/>
      <a href="resource/pdf/Garritz.pdf">Garritz</a>
    </div>
    </div>
    <div class="col-xs6 col-sm6 col-lg4">
      <div>
      <img src="resource/file.ico" alt="" style="height: 64px;width: 64px"/>
      <a href="resource/pdf/Garritz.pdf">Garritz</a>
    </div>
    </div>
  </div>
  </div>

<% include ../partials/foo.ejs %>
</body>
</html>
