<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div id="blackscreen">
    <div id="movieCenter">
      <div id="moviecloseMain">
        <div id="movieMain">
      <video width="854" height="480" controls autoplay>
        <source src="resource/intro.mp4" type="video/mp4">
      <!--<source src="movie.ogg" type="video/ogg">-->
        </video>
      </div>
        <div id="imgMain">
          <img src="resource/close.png" onClick="home()" width="64px" height="64px"">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md10 col-md-offset-1 col-xs8 col-xs-offset-2">
        <p>Si al finalizar un trabajo puedes contar a los demás lo que has hecho,</p>
        <p>éste habrá sido provechoso.</p>
        <img src="resource/resource01.gif">
    </div>
  </div>
  <% include ../partials/foo.ejs %>
  <script type="text/javascript">
  $("#menu").hide();
  function home(){
    $("#menu").show();
    $("#blackscreen").hide( "slow",function(){
      $("#blackscreen").remove();
    });
  }
  </script>
</body>
</html>
